.heading{
    background: rgb(59, 50, 50);
    color: beige;
}

.descriptionText {
    border-radius: 25px;
    background: #73AD21;
}

.titleText{
  font-family: 'Tangerine', serif;
  font-size: 48px;
  color: crimson;
}
