.heading{
    background: rgb(59, 50, 50);
    color: honeydew;

}
.contCol{
    background: rgb(201, 230, 162);
}
.contColinside{
    background: rgb(180, 218, 130);
}
.descriptionText {
    border-radius: 25px;
    background: #73AD21;
  }

