<div class="container m-0">
  <div class="flex-container vh-100 vw-100">
  <div class="part m-0">
      <div class="form-group">
        <div class="titleText text-center"> Biz 2 Credit</div>
        <input type="search" (keyup)="applyFilter($event.target.value)"
        class="form-control" id="exampleInputEmail1"
         aria-describedby="emailHelp" placeholder="Search(by ISP name,price,rating)">
      </div>
      <table mat-table  *ngIf="dataSource" [dataSource]="dataSource" class="w-100">
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> Provider </th>
            <td mat-cell *matCellDef="let element"> <a  routerLink="/detailProvider/{{element.name}}">{{element.name}} </a></td>
          </ng-container>
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef >Price </th>
            <td mat-cell *matCellDef="let element" (click)="click(element)"><a href="#"> {{element.lowest_price}} <i class="fas fa-download"></i> </a></td>
          </ng-container>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
  </div>
  <div class="part" style="background-color: rgb(201, 230, 142);">
      <router-outlet></router-outlet>
  </div>
</div>
</div>



